<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ethan's Blog</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./stylesheets/style.css" type="text/css">
  </head>
  <body>
    <div class="wrapper">
      <div class="header">
        <h1>Ethan's Blog</h1>
      </div>

      <div class="navBar">
        <h2>Blog Things</h2>
        <div class="blogFunction">
          <button onclick="window.open('./pages/add.html'); window.close()">Add a Post</button>
        </div>
        <div class="blogFunction">
          <button onclick="window.open('./pages/edit.html'); window.close()">Edit a Post</button>
        </div>
        <div class="blogFunction">
          <button onclick="window.open('./pages/delete.html'); window.close()">Delete a Post</button>
        </div>
        <div class="blogFunction">
          <button onclick="window.open('./pages/admin.html'); window.close()">ADMIN</button>
        </div>
      </div>

      <div class="blog">
        {% for txt in data%}
          <p class="post-details">Post: {{txt.blog_id}} - Posted on: {{txt.blog_date}}</p>
          <p class="post-content">{{txt.blog_txt}}</p>
        {%endfor%}
      </div>
    </div>
  </body>
</html>