html, body{
    margin: 0;
    height: 100%;
    font-size: larger;
}
  
body {
    background-color: white;
}

h1 {
    color: maroon;
    text-align: center;
}

.labelHolder{
    display: flex;
    justify-content: center;
    align-content: center;
}

.buttonHolder {
    display: flex;
    justify-content: center;
    align-content: center;
}

button {
    width: 150px;
    height: 100px;
    background-color: maroon;
    font-weight: bolder;
}

